@import url('https://fonts.cdnfonts.com/css/montserrat');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-pattern {
    /* make gradient #cb0e26 - #ec1a35 */
    background-image: linear-gradient(to right, #cb0e26, #ec1a35, #cb0e26);
}

.text-behind {
    position: relative;
    z-index: -1;
}

.headline {
    font-weight: 900 !important;
    color: #fff;
}

#DataTables_Table_0_length>label>select {
    @apply text-sm;
    width: 53px;
    margin: 0 5px;
}

.swal2-title {
    @apply text-lg;
}

#swal2-html-container {
    @apply text-sm;
}

.swal2-actions {
    @apply text-sm;
}

body>div.swal2-container.swal2-center.swal2-backdrop-show>div>div.swal2-actions>button.swal2-confirm.swal2-styled {
    @apply text-sm bg-black;
}

input[type=file]::file-selector-button {
    color: white;
    @apply bg-gray-700 hover:bg-secondary-red py-2;
}

#DataTables_Table_0_wrapper > div.top {
    @apply flex justify-between items-center px-2 bg-gray-200 p-2
}

#DataTables_Table_0_wrapper > div.top > div.top-right {
    @apply flex flex-row gap-2 items-center
}

#DataTables_Table_0_wrapper > div.top > div.top-right > div.dt-buttons > button.dt-button.buttons-excel.buttons-html5 {
    border: 1px solid #aaa;
    border-radius: 3px;
    line-height: 1.5rem;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}

.custom-content {
    color: #1a1a1a; /* Darker gray */
    font-size: 1rem;
    line-height: 1.75;
    @apply text-justify;
}

.custom-content p,
.custom-content h1,
.custom-content h2 {
    margin: 0;
    padding: 0;
    text-align: inherit;
}

.custom-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional */
}

.custom-content a {
    color: #3182ce;
    text-decoration: underline;
}
