@import url('https://fonts.cdnfonts.com/css/montserrat');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-pattern {
    /* make gradient #cb0e26 - #ec1a35 */
    background-image: linear-gradient(to right, #cb0e26, #ec1a35, #cb0e26);
}

.text-behind {
    position: relative;
    z-index: -1;
}

.headline {
    font-weight: 900 !important;
    color: #fff;
}